/* Home.css */
.home {
  display: flex;
  padding: 140px;
  background-color: #f4f4f4;
  text-align: center;
}

.home-content {
  max-width: 800px;
  margin: 0 auto;
  list-style: square;
  text-indent: -3em;
}


.home h2 {
  font-size: 28px;
  margin-bottom: 10px;
}

.home p {
  font-size: 32px;
  margin-bottom: 30px;
}

.home {
  padding: 40px;
  background-color: #f4f4f4;
  text-align: center;
}

.home-content {
  max-width: 800px;
  margin: 0 auto;
  list-style: square;
  text-indent: -3em;
}


.home h2 {
  font-size: 18px;
  margin-bottom: 10px;
}

.home p {
  font-size: 18px;
  margin-bottom: 30px;
}

.featured-items {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 20px;
  margin-top: 40px;
}

.featured-item {
  flex-basis: calc(33.33% - 20px);
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.featured-item img {
  max-width: 100%;
  height: auto;
  margin-bottom: 10px;
}

.featured-item h3 {
  font-size: 18px;
  margin-bottom: 10px;
}

.featured-item p {
  font-size: 16px;
  margin-bottom: 0;
}
/* Home.css */
.paragraph-image {
  max-width: 100%;
  height: auto;
}
