/* Jewelry.css */

.jewelry-container {
  text-align: center;
  padding: 75px;
  overflow-x: auto; /* Enable horizontal scrolling for smaller screens */
  white-space: nowrap; /* Prevent items from wrapping to the next line */
  justify-content: center;
}

.jewelry-grid {
  display: flex;
  gap: 100px;
  justify-content: flex-start; /* Start items from the left */
  align-items: center;
  overflow-x: auto; /* Enable horizontal scrolling for smaller screens */
  white-space: nowrap; /* Prevent items from wrapping to the next line */
}

.jewelry-item {
  min-width: 325px; /* Set a minimum width for each item */
  background-color: #f0f0f0;
  padding: 60px;
  text-align: center;
}

/* Add more styling as needed */
