/* Define styles for the footer */



  .footer {
    display: flex;
    /* position: static; */
    left: 0;
    bottom: 10px;
    width: 100%;
    background-color: #333;
    color: white;
    text-align: center;
    margin-top: 500px;
    
    /* Padding should probably be adjusted according to your design */
    padding: 100px;
    background-image: url("../components/images/sunrise.png");
  }