
.header {
  display: flex;
  background-color: #496f8b;
  justify-content: center;
  color: white;
  padding: 75px;
  text-align: center;
  margin-left: 55px;
  background-image: url('../components/images/blackmarble.png');
  background-size: cover;   
  background-position: center center;

  }

.header-title {
  font-size: 2.5rem; /* Adjust the font size as needed */
  margin-bottom: 0.5rem;
}
