.app {
  background-size: cover;
  background-image:url("./components/images/whiteMarble.png");
  /* Other properties you might want to include: */
  background-position: center;
  background-repeat: no-repeat;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

/* Style for the content area */
.content {
  flex-grow: 1;
  padding: 20px;
}

/* Style for the footer */
